# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Build
build/*
!build/README.md
dist/
core/generated/

# Logs
*.log

# Local application settings
config/settings.json

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
